@import url('https://fonts.googleapis.com/css?family=Orbitron');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

#calculator-main {
  width: 400px;
  max-width: 400px;
  margin: auto;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

#calculator-body {
  background-color: #414321;
  max-width: 400px;
  padding: 20px;
  float: left;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, .5);
}

#calculator-screen {
  padding: 20px;
  font-size: 50px;
  line-height: 50px;
  text-align: right;
  background-color: #212301;
  color: #909090;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-x: auto;
}

.calculator-button {
  float: left;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  margin: 5px;
  height: 50px;
  line-height: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, .50);
  text-shadow: 1px 1px 0px gray;
}

.calculator-button-clicked {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: none;
}

.black {
  background-color: black;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.gray {
  background-color: gray;
  color: white;
}

.rounded {
  border-radius: 50%;
}

#calculator-mem {
  float: left;
  width: 60%;
  box-sizing: border-box;
}

#calculator-mem .calculator-button {
  width: calc(33% - 10px);
  box-sizing: border-box;
}

#calculator-numbers {
  float: left;
  width: 60%;
  box-sizing: border-box;
}

#calculator-numbers .calculator-button {
  width: calc(33% - 10px);
  box-sizing: border-box;
}

#calculator-control {
  float: left;
  width: 40%;
  box-sizing: border-box;
}

#calculator-control .calculator-button {
  width: calc(50% - 10px);
  box-sizing: border-box;
}

#calculator-actions {
  float: left;
  width: 40%;
  box-sizing: border-box;
}

#calculator-actions .calculator-button {
  width: calc(50% - 10px);
  box-sizing: border-box;
}

.plus {
  height: 110px;
  line-height: 90px;
}
